<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="xyz.skyenginetechnologies.nc2trainerapp" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="29" />
	<application android:label="NC2 Trainer App" android:theme="@style/MainTheme" android:icon="@drawable/icon_desktop"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>